.GithubProfileinfo{
  width: 400px;
  margin: 0 auto;
}

.GithubProfileinfo .profile-head{
  display: flex;
  align-items: center;

}

.GithubProfileinfo .profile-head img{
  display: block;
  width: 64px;
  height:64px;
  border-radius:32px ;
  margin-right:16px;
}

.GithubProfileinfo .profile-head .name{
  font-weight: bold;
}